*{
padding: 0;
margin: 0;
}
body{
overflow-x: hidden !important;
width: 100% !important;
}
/* .navbar-nav li a{
float: right;
color: #fff !important;
}
.navbar-brand img{
width: 150px;
margin-left: 30px;
}
.navbar-toggler{
border: none !important;
outline: none !important;
}
nav .bx-menu{
color: #fff !important;
font-size: 26px;
} */
.navbar-brand{
letter-spacing: 5px;
font-size: 30px !important;
}
.banner-image{
background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url("images/imageone.jpg");
background-size: cover !important;
width: 100% !important;
}
.content h1{
text-align: center;
padding-top: 250px;
color: white;
font-size: 45px !important;
letter-spacing: 6px;
font-weight: 600;
}
.content p{
text-align: center;
color: white;
font-size: 20px;
}
.nav-item a:hover{
color:rgb(156, 58, 119) !important;
}

/*---------------About US----------------*/
#about{
width: 90%;
margin: 0 auto;
padding-top: 100px;
padding-bottom: 100px;
}
#about h3{
margin: 20px auto;
}
#about img{
width: 100% !important;
display: block !important;
}
.group{
margin: 0 0 2rem !important;
}
.group{
display: grid !important;
grid-template-columns: repeat(2, 1fr) !important;
}
.text{
/* display: flex; */
justify-content: center;
align-items: center;
padding: 2rem;
}
.group-orderi img{
order: 2;
}
.group-orderi .text{
order: 1;
}
.group-orderii img{
order: 2;
}
.group-orderii .text{
order: 1;
}


/*-----------------Services------------------*/
#services{
background-color: black;
color: white;
padding-top: 80px;
padding-bottom: 80px;
}
#services .col-md-4{
padding: 20px;
}
#services .col-md-4 h4{
padding: 5px;
}
#services .col-md-4 img{
width: 50px;
}
#services .col-md-4 p{
padding: 5px;
text-align: justify;
}

/*--------------------Features------------------------*/
#features
{
padding-top: 100px;
padding-bottom: 100px;
background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/mage2.jpg);
background-position: center;
background-size: cover;
background-attachment: fixed;
color: #fff;
}
#features .col-md-6{
padding:20px;
}
.feature-box{
height: 120px;
}
.feature-box .feature-left{
height: 120px;
width: 20%;
float: left;
}
.feature-box .feature-left .fa{
padding-top: 13px;
font-size: 50px;
}
.feature-box .feature-right{
height: 120px;
width: 80%;
float: left;
}
.feature-box .feature-right h4{
padding-top: 10px;
padding-left: 15px;
text-align: left;
}
.feature-box .feature-right p{
padding-left: 15px;
text-align: left;
}
/*----------------Testimonials-------------------*/
#testimonials{
padding-top: 100px;
padding-bottom: 100px;
background-color: black;
}
#testimonials .col-md-4{
padding: 10px 30px;
}
#testimonials img{
width: 60px;
height: 60px;
border-radius: 50%;
margin-left: -30px;
margin-top: -40px;
border: 5px solid #fff;
margin-bottom: 30px;
}
.review{
font-size: 10px;
padding: 10px 10px 10px 30px;
border-radius: 10px;
box-shadow: 0px 0px 20px 1px rgba(0,0,0,0.2);
}
.review .fa-twitter{
color: #013f7e;
}
.review .fa-facebook{
color: #013f7e;
}
.review .fa-linkedin{
color: #013f7e;
}
#testimonials span{
color: white;
font-weight: 600;
font-size: 18px;
}
#testimonials h1{
margin-bottom: 20px;
color: white;
}
#testimonials p{
padding-bottom: 20px;
color: white;
}

/*----------------------Footer----------------------*/
#footer{
margin-top: 80px;
padding: 100px;
background-color: white;
color: black;
}
.footer-logo{
width: 150px;
margin-top: 25px;
margin-bottom: 15px;
}
#footer h1{
font-size:15px;
text-align: left;
margin-top: 25px;
margin-bottom: 25px;
}
#footer p{
font-size:12px;
text-align: left;
margin-top: 25px;
margin-bottom: 25px;
}
#footer .city{
margin-left: 37px;
}
#footer .row .fa{
padding-right: 20px;
font-size: 15px;
}
#footer .hr{
margin-top: 10px;
}
#footer .fa-heart-o{
color: red;
font-size: 17px;
}
#footer .copyright{
margin-bottom: -80px;
text-align: center;
font-size: 15px;
}
#footer .linktxt{
text-decoration: none;
}
#footer .linktxt:hover{
color:black;
}

@media(max-width: 650px) {
.navbar-brand{
font-size: 24px !important;
}

.content h1{

    font-size: 35px !important;

    }
    .content p{
    font-size: 17px !important;
    }

.group{
grid-template-columns: repeat(1, 1fr) !important;}
.group-orderi img{
order: 1;
}
.group-orderi .text{
order: 2;
}
.group-orderii img{
order: 1;
}
.group-orderii .text{
order: 2;
}
}